*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*   when we use a padding the will not go outside the -- border... when we use this attributes ..      */
}
/* above we remove the by default margin and padding ......... */

/* .open-sans-<uniquifier> { */

/* this above is not supported til now--so we create a valid class name (the above we learn after )  */
/* shared Style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}


.button_01 {
    background-color: #e16e1c;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}



header{
background-color: rgb(14, 191, 231);
    padding-top: 51px; 
    /* fig */

    /* How to use multiple picture as --- Background at different positions ? ??
    ans: use --url(first address, 2nd   , 3rd  and so on) 
     
    ----------Here, first time we take --- picture or image in CSS FILE--WE DO IT--->> When we TAKE PICTURE AS >> BACKGROUND..  
    */
    background: url(../images/developer.png ) , url(../images/header_bg.png),#FFF8F3;
    background-position: top left, bottom right;

    /* The above 2 will work --- with one with another ................................................................. */
    background-repeat: no-repeat;
    
}


.logo h2{
    font-size: 45px;

}
.color-orange{
    color: #FD6E0A;
}

    

/* main style */
nav{
    width: 67%;
    /* as, my devise width (at 90%) 1702px...the nav will be 1140px (as given in fig file)  */
    max-width: 1140px;
    /* fix .         the nav can be maximum 1140px */
    margin: 0px auto;  
    /* auto is work like dynamic --taking space from both side pixel by pixel at the end the nav is in the middle..  */

    /* border: 1px solid red; */


    display: flex;       /*  flex is applicable for Every thing not only div but also those who are block elements --or inline (they change their directions, x to y , and y to x ) */ 
    justify-content: space-between;
     text-align: center;
}


nav .menu {

 display: flex;
 list-style-type: none;
 gap: 51px;
align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}


/* ---------------------------HERO SECTION  */

#banner{
/* border: 1px solid red ; */

margin: 46px 38px 0px 230px;
/* the margin is for the hero section  */
display: flex;
justify-content: space-between;
align-items: center; 
/* This 3 steps makes the Block elements first: inline than, Vertically those elements center--everyone individually..  */
/* background-color: aquamarine; */
}
#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{

font-size: 45px;
font-weight: 600;
/* as font Semibold--so font weight 600 */
color: #474747;
margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818;

}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}


#banner .banner-image img{
max-width: 584px;
vertical-align: middle; 
/* the vertical-aline tag >> fixed the picture at the Accurate position  */

}
/* ==========================================Now after hero section ++++++ Next section  */

#about {
    padding-top: 130px;
    /* about the most parent --- of the about section so, it work as -- (the padding is work as margin for other --deep thing--easy */

}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;


    background-color:#FFF8F3 ;

    padding: 131px 157px;
}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-heading p{

font-size: 18px;
line-height: 30px;
    margin-bottom: 30px;
}


#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
     font-size: 20px;
    
     line-height: 30px;
     color: #757575;

}
.about-info .info-card h2{

    font-size: 20px;
}
