* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /*   when we use a padding the will not go outside the -- border... when we use this attributes ..      */
}
/* above we remove the by default margin and padding ......... */

/* .open-sans-<uniquifier> { */

/* this above is not supported til now--so we create a valid class name (the above we learn after )  */
/* shared Style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

.button_01 {
  background-color: #e16e1c;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

header {
  background-color: rgb(14, 191, 231);
  padding-top: 51px;
  /* fig */

  /* How to use multiple picture as --- Background at different positions ? ??
    ans: use --url(first address, 2nd   , 3rd  and so on) 
     
    ----------Here, first time we take --- picture or image in CSS FILE--WE DO IT--->> When we TAKE PICTURE AS >> BACKGROUND..  
    */
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  /* background-position: top left, bottom right; */
 
  /* instead of ---write top left --
          we can give (x    y) value---from x axis, y axis... for a url  or picture..  */
  background-position: 24px 38px, bottom right;

  /* The above 2 will work --- with one with another ................................................................. */
  background-repeat: no-repeat;
}

.logo h2 {
  font-size: 45px;
}
.color-orange {
  color: #fd6e0a;
}

/* main style */
nav {
  width: 67%;
  /* as, my devise width (at 90%) 1702px...the nav will be 1140px (as given in fig file)  */
  max-width: 1140px;
  /* fix .         the nav can be maximum 1140px */
  margin: 0px auto;
  /* auto is work like dynamic --taking space from both side pixel by pixel at the end the nav is in the middle..  */

  /* border: 1px solid red; */

  display: flex; /*  flex is applicable for Every thing not only div but also those who are block elements --or inline (they change their directions, x to y , and y to x ) */
  justify-content: space-between;
  text-align: center;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}

nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}

/* ---------------------------HERO SECTION  */

#banner {
  /* border: 1px solid red ; */

  margin: 46px 38px 0px 230px;
  /* the margin is for the hero section  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* This 3 steps makes the Block elements first: inline than, Vertically those elements center--everyone individually..  */
  /* background-color: aquamarine; */
}
#banner .banner-content {
  max-width: 585px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  /* as font Semibold--so font weight 600 */
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #181818;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
  /* the vertical-aline tag >> fixed the picture at the Accurate position  */
}
/* ==========================================Now after hero section ++++++ Next section  */

#about {
  padding-top: 130px;
  /* about the most parent --- of the about section so, it work as -- (the padding is work as margin for other --deep thing--easy */
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;

  background-color: #fff8f3;

  padding: 131px 157px;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  /*  but not --- > absolute Middle at the Page..  */
  margin: 0px auto; /* For this Margin the class will 
    --now stay at the Absolute Middle of this Page with the width and align given..  */
}
.section-heading h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;

  line-height: 30px;
  color: #757575;
}
.about-info .info-card h2 {
  font-size: 20px;
}

/*  WORK FOR SKILLS SECTION (we give this section name as --skills as WE WORK ON SEMANTIC TAGS     */
#skills,
#about,
#resume {
  padding-top: 130px;
}

#skills .skills-container {
  width: 71%;
  max-width: 1140px;
  /* max-width mana ---maximum ei width niba er thaka besi width kokhono niba na--.. zodi width kom 
  hoi--toba zei width diya oitar 100% niba... (fully organized)  */
  margin: 0px auto;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  /*  but not --- > absolute Middle at the Page..  */
  margin: 0px auto; /* For this Margin the class will 
    --now stay at the Absolute Middle of this Page with the width and align given..  */
}

#skills .skills-container .skill-box {
  display: flex;
  gap: 24px;
}

.skill-box .skill-card {
  padding: 30px;
  max-width: 267px;
  /* border: 1px solid red; */
  /* box-shadow: (position (x,y), blur , spread , color set the opacity manually
  --FIRST # WITH 6 DIGIT FOR COLOR AND LAST 2 DIGIT FOR OPACITY PERCENTAGE.. ); */
  
  box-shadow: 0px 6px 50px 0px #00000020;
  
  border-radius: 5px;
}

.skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
  /* If we already give the same 30 px , padding. Do i need to give the same margin  ? 
    
    ans: Yes, must.. As without margin---Any other element can overlap --others --padding area... 
    So, AlWAYS WE HAVE TO GIVE PADDING AND   MARGIN SEPARATELY AND --- CALCULATE THEM SEPARATELY... 
    
    */
}

.skill-card h3 {
  font-size: 20px;
  /* padding-bottom: 50px;
     Ques : Difference between margin and padding ? 
        
                             padding means : increase this h3 container size.. 
                                 Diff : between margin and padding ? 
                                  Think about when you use a background for you h3 tag  ? 
                                  
                                  ans : the MARGIN IS OUTER PART ..
                                        THE PADDING IS INNER PART OF THE h3 tag here. */
  margin-bottom: 20px;
}

.skill-card p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}


/* ============================================================================ */

#resume .section-heading h2{
      max-width: 827px;
  text-align: center;
  /*  but not --- > absolute Middle at the Page..  */
  margin: 0px auto; /* For this Margin the class will 
    --now stay at the Absolute Middle of this Page with the width and align given..  */

}

#resume .resume-container {
display: flex;
gap: 24px;
/* This gap is between the flex objects.. */
width: 71%;
max-width: 1140px;
margin: 113px auto 0px;
/* top  ,left-right same, bottom */



}

/* 
.education .resume-card {

} */

.resume-container .section-title{
    color: #474747;
    margin-bottom: 30px;
    font-size: 30px;
}


.resume-card{
    max-width: 511px;
    margin-right: 47px;
       /* margin: 30px 47px 30px 0px;    that is not --correct coding  */

}

.resume-card .card-title{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #474747;


}
.resume-card .card-info {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    /* for ---semibold set ---font-weight =600  */
    color: #757575;
}

.resume-card .card-text{
     
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

.resume-container hr {
    margin: 30px 0px; 
}


.text-center{
    text-align: center;
}

.button_02 {
  background-color: #e16e1c;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
/* ============================================================================= */


footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0px;

}

footer .footer-container {
     width: 71%;
     max-width: 1140px;
     margin: 0px auto;

     display: flex;
     gap: 116px;  /* Distribute between the flex item.. */
}

.footer-container .social {
    max-width: 564px;
}

.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-container .social p{
 line-height: 28px;
 columns: #474747;
 /* font-size: 16px;  we don't have to give that --that was set by default..  */
 margin-bottom: 30px; 
 /* such like the line height the gap at bottom is margin-bottom not padding.. think about Margin first.. for Gap between two separate elements ..  */

}

.footer-container .icon a {
    margin-right: 24px;
}

.footer-container form input[type="text"],
.footer-container form textarea{

    width: 461px;
    /* Don't need to give the heigh anymore.. anytime ---------- ???????????
    We cover the hight using the padding margin-bottom etc...............
    

    ---------------------------------------
      <textarea rows="10" name="" id="" placeholder="Massage">  </textarea>

      for give extra height for textarea tag we add-- row span ---- technique above.. 
    */
    padding: 18px 31px;
    margin-bottom: 24px;

    border: none;
    border-radius: 5px;

    color: #757575;


} 



.hide{
  display:none !important;
/* give more priority from id .. use important..  */
}

/* we add this class to every-Main section and then--then take one by one section and make this 
responsive... 

*/

@media screen and (max-width: 576px) {

  /* what we do in it: we only take one by one class--->and when we take a 
  class--> we do operations on it's one by one section----till the finish.. 
   and give new style for this small or medium Device ... 
  using the before designs(all before designed are already applied ) ....... 
  
  we can update the value or Add a new attributes .. in the media query..Like give new width.. new padding 
  --new display : column.. 
  


  */
  #skills, #about, #resume{
    padding-top: 60px;
  }

#skills .skills-container {
    /* width: 71%;
    max-width: 1140px;
    margin: 0px auto; */
    width: 95%;

    /* here what we write : those will work like--> overridden... so, If something remain the same like the before 
    so, no need to write it again here.... 
    
    just write those attributes who are new--or have updated value... 
    
    /*/
}
h2 {
    
    font-size: 1.2em;
    
}

#skills .skills-container .skill-box{
  flex-direction: column; 
  /* change the flex direction to row to column...  */
}
*{
    margin: 12px;
    padding: 0px;
    box-sizing: border-box;
}
.skill-box .skill-card{
  width: 100%;
  /*  now 576 px er puratai new ... jodi paro... but 576 er beshi hola ... 576 px e niba... 
   */
}

  /* ------------------------------------------------------------------------------ */

  #about .about-container{
    padding: 20px 12px;
width: 95%;
    
  }
  #about .about-container .about-info{
    flex-direction: column;
  }
}